code {
  background: #f7fff2;
  margin: 3px;
  padding: 3px;
  border-radius: 6px;
  border: solid gray 1px;
  line-height: calc(line-height + 3);
  font-size: 0.8em !important;
  line-height: 1.2;
  display: inline-block;
}

code:has(pre) {
  padding: 0;
  display: block;
  padding: 1rem;

  background: #f7fff2;
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 6px;
  border: solid gray 1px;
  border-right: solid black 5px;
  border-left: solid black 5px;
}

code > pre {
  background: none;
  padding: 0;
  margin: 0;
}
